/* Q1 */
.container{
  padding: 0;
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12,1fr) ;
  grid-template-rows: repeat(12,1fr);
  background-color: black;
  grid-gap: 10px;
}

.header{
  grid-column: 1/ span 12;
  background-color: blueviolet;
}

.sidebar{
  grid-row: 2/ span 10;
  grid-column: 1/ span 3;
  background-color: blueviolet;
}
.navigation{
  grid-column: 4/ span 6;
  background-color: aqua;
}

.main{
  grid-column: 4/ span 6;
  grid-row: 3/ span 9;
  background-color: red;
}

.ads{
  grid-row: 2/ span 10;
  grid-column: 10/ span 3;
  background-color: bisque;
}

.footer{
  grid-column: 1/ span 12;
  background-color: chartreuse;
  
}
/* Q2 */
@media (max-width:720px){
  .header{
    grid-column: 1/ span 12;
    background-color: darkblue;
  }
  .navigation{
    grid-column: 1/ span 12;
    background-color: brown;
  }
  .sidebar{
    grid-column: 1/ span 3 ;
    grid-row: 3/ span 9;
  }
  .main{
    grid-column: 4/ span 9;
    grid-row: 3/ span 9;
  }
  .ads{
    grid-column: 1/ span 3;
    grid-row: 12;
  }
  .footer{
    grid-column: 4/ span 9;
    grid-row: 12;
  }
}

/* Q3 */

.Loader{
  border: 16px solid rgb(127, 123, 123);
  border-radius: 50%;
  height: 120px;
  width: 120px;
  border-top: 16px solid yellowgreen;
  animation: spin 2s linear infinite;
  
  
  
}

@keyframes spin{
  0% {
    transform:rotate(0deg);

  }
  100%{
    transform:rotate(360deg)
    
  }
}